{%- macro render_var(var, val) %}
{%-   if val is mapping or val | is_list %}
{{ var | upper }}={{ val | json }}
{%-   else %}
{{ var | upper }}={{ val }}
{%-   endif %}
{%- endmacro %}

{%- for category, values in archivebox.config | dictsort %}
# {{ category | replace("_", " ") | capitalize }}
{%-   for var, val in values | dictsort %}
{%-     if val is not none %}
{{- render_var(var, val) }}
{%-     endif %}
{%-   endfor %}
{% endfor %}
