{%- macro render_var(var, val) %}
{%-   if val | is_list %}
{{ var | upper }}={{ val | join(",") }}
{%-   else %}
{{ var | upper }}={{ val }}
{%-   endif %}
{%- endmacro %}

{%- for var, val in archivebox.pihole.config | dictsort %}
{{ render_var(var, val) }}
{%- endfor %}
